// {
//   "presets": [
//       "env", "react"
//   ],
//   "plugins": [
//     "transform-object-rest-spread",
//     ["transform-runtime", {
//       "helpers": false,
//       "polyfill": false,
//       "regenerator": true,
//       "moduleName": "babel-runtime"
//     }]
//   ]
// }


{
  "presets": ["@babel/preset-env", "@babel/preset-react","@babel/preset-typescript"],
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-runtime"

  ]
} 