@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  background: linear-gradient(180deg, rgba(236, 12, 66, 1) 50%, rgba(255, 0, 138, 1) 100%);
  height: auto;
}
