.checkBox {
  width: 40px;
  height: 20px;
  cursor: pointer;
  &:checked {
    position: relative;
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    visibility: hidden;
    cursor: pointer;
    background-color: lawngreen;
  }
}

// .label {
//   position: absolute;
//   cursor: pointer;
//   &:before {
//     content: '';
//     display: inline-block;
//     position: relative;
//     cursor: pointer;
//   }

//   &:after {
//     content: '';
//     display: block;
//     position: absolute;
//     top: 3px;
//     left: 19px;
//     width: 15px;
//     height: 15px;
//     background-image: url('../images/checked-checkbox-icon.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     cursor: pointer;
//   }
// }

// .checkBox:checked ~ .label:after {
//   content: '';
//   display: block;
//   position: absolute;
//   top: 3px;
//   left: 19px;
//   width: 15px;
//   height: 15px;
//   background-color: lawngreen;
//   background-image: url('https://cdn.imgbin.com/13/5/21/imgbin-computer-icons-checkbox-font-login-button-black-check-logo-BtgApyijkqeH5Rm6rJxUKgv8Q.jpg');
//   background-repeat: no-repeat;
//   background-size: cover;
//   cursor: pointer;
// }
