.listItem {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #4c93a9;
}
.checkBox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.title {
  width: 175px;
  font-size: 24px;
  background-color: rgb(245, 236, 220);
  color: rgba(0, 0, 0, 0.7);
}

.checkBox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.checkBox:checked {
  position: relative;
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  visibility: hidden;
  cursor: pointer;
}

.checkBox:checked + .label + .title {
  margin-left: 7px;
  color: #ee4b42;
  text-decoration: line-through solid #ee4b42;
}

/* .checkBox + .label + .title {
  margin-left: 7px;
} */

.checkedSpan {
  color: #ee4b42;
  text-decoration: line-through solid #ee4b42;
}

.label {
  position: absolute;
  cursor: pointer;
}

.label:before {
  content: "";
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.label::after {
  margin-left: 5px;
}

.checkBox:checked + .label::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 19px;
  width: 20px;
  height: 20px;
  background-image: url("http://cdn.onlinewebfonts.com/svg/img_358129.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
